@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next { height: 100%; }

html {
  font-family: var(--font-karla), sans-serif;
}

body {
  @apply bg-white text-slate-900 antialiased;
}
